*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Inter', sans-serif;
}

.btn-purple{
    background-color: #9C51E0;
    color: #FFF;
}
.btn-purple:hover{
    background-color: #8A39E1;
    color: #FFF;
}
.btn-purple:focus{
    box-shadow: 0 0 0 0.25rem rgb(193 110 253 / 25%);
    border-color: #b567f1;
}

.btn-orange{
    background-color: #FF9F45;
    color: #FFF;
}
.btn-orange:hover{
    background-color: #F76E11;
    color: #FFF;
}
.btn-orange:focus{
    box-shadow: 0 0 0 0.25rem rgba(247, 125, 12, 0.25);
    border-color: #FFBC80;
}

.esporte{
    height: 30rem;
}

menu{
    height: 35rem;
}

.filme{
    height: 20rem;
}

.menu-home{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.menu-home h1{
    font-weight: 400;
    font-size: 1.6rem;
}

.img-home{
    width: 64px;
    margin-left: 1rem;
}

.options-home h3{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}

.form-check{
    display: inline-block;
}

.first-check{
    margin-left: 31%;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}
/* Ocultar para manipular no javascript a mensagem quando o tempo termina */
.recomecar-esporte,
.recomecar-filme,
.recomecar-historia,
.recomecar-animais,
.acabou-esporte,
.acabou-filme,
.acabou-historia,
.acabou-animais{
    display: none;
}

.acabou-esporte,
.acabou-filme,
.acabou-historia,
.acabou-animais{
    text-align: center;
    font-size: 1.4rem;
}

.recomecar-esporte,
.recomecar-filme,
.recomecar-historia,
.recomecar-animais{
    margin-left: 47%;
    padding: .5rem;
    border: 1px solid transparent;
    background-color: #444;
    color: #fff;
    border-radius: .5rem;
    cursor: pointer;
}

.recomecar-esporte:hover,
.recomecar-filme:hover,
.recomecar-historia:hover,
.recomecar-animais:hover{
    color: #AF0;
}


.tempo{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: 46%;
    text-align: center;
    font-weight: 600;
    background-color: #444;
    color: #AF0;
    width: 8%;
    padding: .5rem;
    border-radius: .5rem;
}

.esporte-img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.esporte-img img{
    width: 450px;
    border-radius: .5rem;
}

.pergunta{
    margin-left: 15%;
    font-weight: 600;
}
/* oculta as div's de esporte */
.esporte,
.esporte-img,
.ocultar-esporte,
.ocultar-esporte2,
.ocultar-esporte3,
.ocultar-esporte4{
    display:none;
}

/* oculta as div's de filmes */
.filme,
.filme-img,
.ocultar-filme,
.ocultar-filme2,
.ocultar-filme3,
.ocultar-filme4{
    display:none;
}

.filme-img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.filme-img img{
    width: 450px;
    border-radius: .5rem;
}

/* oculta as div's de historia */
.historia,
.historia-img,
.ocultar-historia,
.ocultar-historia2,
.ocultar-historia3,
.ocultar-historia4{
    display:none;
}

.historia-img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.historia-img img{
    width: 450px;
    border-radius: .5rem;
}

/* oculta as div's de animais */
.animais,
.animais-img,
.ocultar-animais,
.ocultar-animais2,
.ocultar-animais3,
.ocultar-animais4{
    display:none;
}

.animais-img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.animais-img img{
    width: 450px;
    border-radius: .5rem;
}


.form-check2{
    display: flex;
    /*justify-content: center;*/
    margin-left: 15%;
}

.espaco{
    margin-left: 1rem;
}

.next{
    position: relative;
    margin-left: 75%;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.footer{
    background-color: #2B2B2B;
    color: #FFF;
    height: 10rem;
}

.footer p{
    text-align: center;
    line-height: 4rem;
}

.socials{
    display: flex;
    justify-content: center;
}

.socials ul{
    list-style: none;
}

.socials li{
    display: inline-block;
    font-size: 1.5rem;
    margin-right: 1rem;
}

.socials li:first-child{
    margin-left: -1rem;
}

.socials a{
    text-decoration: none;
    color: #FFF;
}

.socials a:hover{
    opacity: .4;
    transition-delay: .1s;
}
